<p id="notice"><%= notice %></p>

<div class="panel row">
	<div class="six columns">
	<span class="radius success label">1:00pm to 11:00pm</span>
	<h3>Tutoring Session for Data Structures and Algorithms | Instructor Victoria Hilford</h3>
	<h6 class="subheader">COSC 3330 #1234 | 9:00am to 10:00am</h6>
	<p>Lorem ipsum in enim anim ut sunt esse Excepteur velit voluptate eu minim cillum officia cupidatat ut. </p>
   </div>
   <div class="six columns">
   	<h4>About Jesus Hernandez <small class="subheader">Your Tutor</small></h4>
   	<p>Lorem ipsum cupidatat aliquip eiusmod ut laborum aliqua consectetur aute non velit. </p>
   	jesus@codeawesome.com<br/>
   	832 276 9034<br/>

   </div>
</div>

<div class="attended">
	<table class="twelve columns">
            <thead>
              <tr>
                <th>Table Header</th>
                <th>Table Header</th>
                <th>Table Header</th>
                <th>Table Header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Content</td>
                <td>This is longer content</td>
                <td>Content</td>
                <td>Content</td>
              </tr>
              <tr>
                <td>Content</td>
                <td>This is longer content</td>
                <td>Content</td>
                <td>Content</td>
              </tr>
              <tr>
                <td>Content</td>
                <td>This is longer content</td>
                <td>Content</td>
                <td>Content</td>
              </tr>
              <tr>
                <td>Content</td>
                <td>This is longer content</td>
                <td>Content</td>
                <td>Content</td>
              </tr>
            </tbody>
          </table>
</div>


<p>
  <b>Start time:</b>
  <%= @tutoring_session.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @tutoring_session.end_time %>
</p>

<p>
  <b>Date:</b>
  <%= @tutoring_session.date %>
</p>

<p>
  <b>Description:</b>
  <%= @tutoring_session.description %>
</p>


<%= link_to 'Edit', edit_tutoring_session_path(@tutoring_session) %> |
<%= link_to 'Back', tutoring_sessions_path %>
