<p id="notice"><%= notice %></p>

<div class="panel row">
	<div class="six columns">
	<span class="radius success label"><%= "#{@tutoring_session.start_time.strftime("%I:%M%p")} - #{@tutoring_session.end_time.strftime("%I:%M%p")}" %> @ <%= print_location(@tutoring_session) %></span>
	<h3>Tutoring Session for <%= @course.name if !@course.nil? %> | Instructor <%= "#{@tutor.full_name}" %></h3>
	<h6 class="subheader"><%= "#{@course.course_type} #{@course.number} ##{@course.section_number} | #{@course.start_time.strftime("%I:%M%p")} to #{@course.end_time.strftime("%I:%M%p")}" %> </h6>
	<p><%= @tutoring_session.description %> </p>
   </div>
   <div class="six columns">
   	<h4>About <%= @tutor.full_name %><small class="subheader">Your Tutor</small></h4>
   	
   	<%= @tutor.email %><br/>
   	<%= @tutor.phone_number %><br/>

   </div>
</div>

<%= link_to 'Edit', edit_tutoring_session_path(@tutoring_session) if !current_user.nil? %>
<%= link_to 'Back', tutoring_sessions_path %>
