<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @tutoring_session.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @tutoring_session.end_time %>
</p>

<p>
  <b>Date:</b>
  <%= @tutoring_session.date %>
</p>

<p>
  <b>Description:</b>
  <%= @tutoring_session.description %>
</p>


<%= link_to 'Edit', edit_tutoring_session_path(@tutoring_session) %> |
<%= link_to 'Back', tutoring_sessions_path %>
