<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TutoringServices</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

  <div class="container row">

    <div class="header row">

      <div class="flash-container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
      </div>
      
      <div class="nav twelve columns">
        <div id="user_nav">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
        
        <%= link_to "Login", new_user_session_path %>
        <% end %>

        <ul class="nav-bar">
          <li><%= link_to('My Profile', current_user) if user_signed_in? %></li>
          <li><%= link_to 'Courses', courses_path %></li>
          <li><%= link_to 'Tutoring Sessions', tutoring_sessions_path %></li>
          <li><%= link_to('Users Dashboard', users_path) if user_signed_in?%></li>
          
        </ul>

        </div>
        
      </div>

    </div>

    <div class="content-wrapper row">
      <%= yield %>
    </div>
    

  </div>

  <div class="footer row">
    <p>This application is currently in Alpha mode, if you encounter any problems please email us at tutoring@cougarcs.com</p>
  </div>


</body>
</html>
